@model IEnumerable<QTallPizzaria.Models.Foto>

@{
    ViewBag.Title = "Inicial";
    Layout = "~/Views/Shared/Administrador.cshtml";
}
<div class="container">
    <h2 class="text-center my-4">Página Inicial</h2>

    <p>
        @Html.ActionLink("Nova Foto", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.img)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.img)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idFoto }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.idFoto }) |
                    @Html.ActionLink("Apagar", "Delete", new { id = item.idFoto })
                </td>
            </tr>
        }

    </table>
</div>