@model QTallPizzaria.Models.Foto

@{
    ViewBag.Title = "Nova Foto";
    Layout = "~/Views/Shared/Administrador.cshtml";
}
<div class="container">
    <h2 class="text-center my-4">Nova Foto</h2>

    <div class="card p-4 bg-light">
        @using (Html.BeginForm("Create", "Galeria", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Foto</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.descricao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="arquivoFoto">Foto:</label>
                        <div class="col-md-10">
                            <input type="file" name="arquivoFoto" />
                        </div>
                    </div>
                    <div class="col">
                        <img src="@Html.DisplayFor(model => model.img)" width="200px" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="adicionar" class="btn btn-success" />
                </div>
            </div>
        </div>
        }
    </div>
    <div>
        @Html.ActionLink("Voltar", "Index")
    </div>
</div>