@model QTallPizzaria.Models.ProdutoViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Administrador.cshtml";
}

<h2>Index</h2>


<div class="container">
    <hr />
    <div class="bg-light py-5 card">
        <h3 class="text-center font-weight-bold pb-3">Sugestões</h3>
        <hr class="mx-5" />
        <h4 class="text-center">Pizzas</h4>
        <hr class="mx-5" />
        <div class="row">
            @foreach (var item in Model.Pizza)
            {
                <div class="col-sm">
                    <div class="card my-4 mx-auto" style="width: 18rem;">
                        <img src="@item.Foto" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.NomeProduto</h5>
                            <p class="card-text">@item.Descricao</p>
                            <a href="#" class="btn btn-primary">R$ @item.preco</a>
                        </div>
                    </div>
                </div>
        }
        </div>


        <h4 class="text-center">Lanches</h4>
        <hr class="mx-5" />
        <div class="row">
            @foreach (var item in Model.Lanches)
            {
                <div class="col-sm">
                    <div class="card my-4 mx-auto" style="width: 18rem;">
                        <img src="@item.Foto" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.NomeProduto</h5>
                            <p class="card-text">@item.Descricao</p>
                            <a href="#" class="btn btn-primary">R$ @item.preco</a>
                        </div>
                    </div>
                </div>
            }

        </div>
        <h4 class="text-center">Bebidas</h4>
        <hr class="mx-5" />
        <div class="row">
            @foreach (var item in Model.Bebidas)
            {
                <div class="col-sm">
                    <div class="card my-4 mx-auto" style="width: 18rem;">
                        <img src="@item.Foto" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.NomeProduto</h5>
                            <p class="card-text">@item.Descricao</p>
                            <a href="#" class="btn btn-primary">R$ @item.preco</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    </div>