
@{
    /**/

    ViewBag.Title = "Cardapio";
    Layout = "~/Views/Shared/Home.cshtml";
}
<link href="@Url.Content("~/Content/Home/cardapio.css")"
      rel="stylesheet" />

<div style="z-index: 10" class="nav-tipoproduto navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link active" onclick="tabClick('pizzas',this)" onload="tabClick('pizzas',this)" href="#">Pizzas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" onclick="tabClick('bebidas',this)" href="#">Bebidas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" onclick="tabClick('esfirras',this)" href="#">Esfirras</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" onclick="tabClick('espetinhos',this)" href="#">Espetinhos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" onclick="tabClick('lanches',this)" href="#">Lanches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" onclick="tabClick('pratos',this)" href="#">Pratos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" onclick="tabClick('porcoes',this)" href="#">Porções</a>
            </li>
        </ul>
    </div>
</div>

<div class="tabcontent mt-4 container pizzas">
    @{int i = 0;}
    @foreach (var item in Model.Pizza)
    {
        if (i % 2 == 0)
        {
            @:<div class="row">
            }
            <div class="col-6">
                <div class="jumbotron">
                    <img width="100%" src="@item.Foto" />
                    <h1 class="display-4">@item.NomeProduto</h1>
                    <p class="lead">@item.Descricao</p>
                </div>
            </div>
            if (i % 2 != 0)
            {
            @:</div>
        }
        i++;
    }
    @if (Model.Pizza.Count % 2 != 0)
    {
    @:</div>
}
    </div>

    <div class="tabcontent mt-4 container bebidas" style="display: none">
        @{int j = 0;}
        @foreach (var item in Model.Bebidas)
        {
            if (j % 2 == 0)
            {
                @:<div class="row">
                }
                <div class="col">
                    <div class="jumbotron">
                        <img width="100%" src="@item.Foto" />
                        <h1 class="display-4">@item.NomeProduto</h1>
                        <p class="lead">@item.Descricao</p>
                    </div>
                </div>
                if (j % 2 != 0)
                {
                @:</div>
            }
            j++;
        }
        @if (Model.Pizza.Count % 2 != 0)
        {
        @:</div>
    }
        </div>

        <div class="tabcontent mt-4 container esfirras" style="display: none">
            @{int k = 0;}
            @foreach (var item in Model.Esfirras)
            {
                if (k % 2 == 0)
                {
                    @:<div class="row">
                    }
                    <div class="col">
                        <div class="jumbotron">
                            <img width="100%" src="@item.Foto" />
                            <h1 class="display-4">@item.NomeProduto</h1>
                            <p class="lead">@item.Descricao</p>
                        </div>
                    </div>
                    if (k % 2 != 0)
                    {
                    @:</div>
                }
                k++;
            }
            @if (Model.Pizza.Count % 2 != 0)
            {
            @:</div>
        }
            </div>

            <div class="tabcontent mt-4 container espetinhos" style="display: none">
                @{int l = 0;}
                @foreach (var item in Model.Espetinhos)
                {
                    if (l % 2 == 0)
                    {
                        @:<div class="row">
                        }
                        <div class="col">
                            <div class="jumbotron">
                                <img width="100%" src="@item.Foto" />
                                <h1 class="display-4">@item.NomeProduto</h1>
                                <p class="lead">@item.Descricao</p>
                            </div>
                        </div>
                        if (l % 2 != 0)
                        {
                        @:</div>
                    }
                    l++;
                }
                @if (Model.Pizza.Count % 2 != 0)
                {
                @:</div>
            }
                </div>
                <div class="tabcontent mt-4 container lanches" style="display: none">
                    @{int m = 0;}
                    @foreach (var item in Model.Lanches)
                    {
                        if (m % 2 == 0)
                        {
                            @:<div class="row">
                            }
                            <div class="col">
                                <div class="jumbotron">
                                    <img width="100%" src="@item.Foto" />
                                    <h1 class="display-4">@item.NomeProduto</h1>
                                    <p class="lead">@item.Descricao</p>
                                </div>
                            </div>
                            if (m % 2 != 0)
                            {
                            @:</div>
                        }
                        m++;
                    }
                    @if (Model.Pizza.Count % 2 != 0)
                    {
                    @:</div>
                }
                    </div>
                    <div class="tabcontent mt-4 container pratos" style="display: none">
                        @{int n = 0;}
                        @foreach (var item in Model.Prato)
                        {
                            if (n % 2 == 0)
                            {
                                @:<div class="row">
                                }
                                <div class="col">
                                    <div class="jumbotron">
                                        <img width="100%" src="@item.Foto" />
                                        <h1 class="display-4">@item.NomeProduto</h1>
                                        <p class="lead">@item.Descricao</p>
                                    </div>
                                </div>
                                if (n % 2 != 0)
                                {
                                @:</div>
                            }
                            n++;
                        }
                        @if (Model.Pizza.Count % 2 != 0)
                        {
                        @:</div>
                    }
                        </div>
                        <div class="container mt-4 tabcontent porcoes" style="display: none">
                            @{int o = 0;}
                            @foreach (var item in Model.Porcoes)
                            {
                                if (o % 2 == 0)
                                {
                                    @:<div class="bg-light mb-4 border-bottom row">
                                    }
                                    <div class="col-6">
                                        <div>
                                            <img src="@item.Foto" width="100%" />
                                            <h1 class="display text-center">@item.NomeProduto</h1>
                                            <p class="lead">@item.Descricao</p>
                                        </div>
                                    </div>
                                    if (o % 2 != 0)
                                    {
                                    @:</div>
                                }
                                o++;
                            }
                            @if (Model.Pizza.Count % 2 != 0)
                            {
                            @:</div>
                        }
                            </div>
                            <script src="@Url.Content("~/Scripts/Home/cardapio.js")">
                            </script>