<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.css")"
    rel="stylesheet" />
    <link href="@Url.Content("~/Content/Home/layout.css")"
    rel="stylesheet" />
    <link rel="icon" src="~/img/icon.png" />
</head>
<body>
    <img class="iconNav" src="~/img/icon.png" />

    <ul class="ulSide">
        <li>@Html.ActionLink("Página Inicial", "index")</li>
        <li>@Html.ActionLink("Cardápio", "cardapio")</li>
        <li>@Html.ActionLink("Galeria de fotos", "Galeria")</li>
        <li>@Html.ActionLink("Sobre", "sobre")</li>
        <li>@Html.ActionLink("Contato", "contato")</li>
    </ul>
    <div onclick="sidebar(),myFunction(this)" id="menuIcon" class="menuIcon"><div class="bar1"></div><div class="bar2"></div><div class="bar3"></div></div>
    <nav id="nav">
        <div>
            <ul class="ulNav">
                <li>@Html.ActionLink("Página Inicial", "index")</li>
                <li>@Html.ActionLink("Cardápio", "cardapio")</li>
                <li>@Html.ActionLink("Galeria de fotos", "Galeria")</li>
                <li>@Html.ActionLink("Sobre", "sobre")</li>
                <li>@Html.ActionLink("Contato", "contato")</li>
            </ul>
        </div>
    </nav>
    <div id="header">
        <img src="@Html.ViewBag.HeaderBackground" />
        <h1 class="fraseTema">@Html.ViewBag.Frase</h1>
        <h2 class="Telefone">@Html.ViewBag.Telefone</h2>
    </div>
        @RenderBody()
    <script src="@Url.Content("~/Scripts/Home/ScrollNav.js")">
    </script>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")">
    </script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")">
    </script>
    @RenderSection("script", required: false)
</body>
</html>